<h1>Welcome to Movie Text Alert Correct Page</h1>

	<div ng-controller="MovieController">
		<div class="movies" ng-repeat="movie in movies">
			<h3>{{ movie.title }}</h3>
			<p><img src="{{movie.poster}}" /></p>
			<p><strong>Release Date:</strong> {{ movie.release_date }}</p>
			<button ng-click="saveAlert(movie)">Alert Me</button>
		</div>
	</div>