<h1>Welcome to Movie Text Alert Correct Page</h1>

	<div ng-controller="MovieController">
		<div style="border: 1px solid black">
			<h3>Your Movie List</h3>
			<ul>
				<li ng-repeat="movie in savedMovies">
					{{ movie.title }}
					{{ movie.release_date }}

					<a ng-click="destroyMovie( movie )" class="button tiny round alert">
						X
					</a>
				</li>
			</ul>
		</div>

		<div class="movies" ng-repeat="movie in movies">
			<h3>{{ movie.title }}</h3>
			<p><img src="{{movie.poster}}" /></p>
			<p><strong>Release Date:</strong> {{ movie.release_date }}</p>
			<form ng-submit="addMovie(movie)" name="movieForm">
				<input type="submit">Alert Me</input>
			</form>

		</div>
	</div>