<div class="sticky">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1 id="title"><a>Movie Text Alert</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li class="has-dropdown">
					<% if current_user %>
						<a href="#"><%= current_user.name %></a>
					<% end %>
				
					<ul class="dropdown">
						<li><%= link_to "Log out", session_path, method: :delete %></li>
					</ul>
				</li>
			</ul>
		</section>
	</nav>
</div>

<div ng-controller="MovieController">
	<div class="left-content">
		<div id="savedMovieList">
			<h2>Your Saved Movie List</h2>
			<hr>
			<ul>
				<li ng-repeat="movie in savedMovies" class="movie-list">
					<div class="savedListing">
						<div class="movieTitle">	
							{{ movie.title }} 
						</div>
						<div class="movieReleaseDate">
							{{ movie.release_date }}
							<a ng-click="destroyMovie( movie )" class="delete">
								X
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="copyright">
		Copyright &copy;<%= Time.now.year %> Benjamin Aragon
	</div>

	<div class="right-content">
			<div class="movies" ng-repeat="movie in movies">
				<h4>{{ movie.title }}</h4>
				<p><img src="{{movie.poster}}" /></p>
				<p><strong>Release Date:</strong> {{ movie.release_date }}</p>
				<form ng-submit="addMovie(movie, $index)" name="movieForm">
					<input ng-model="user_id" type="hidden" ng-init="movie.user_id=<%= current_user.id %>" />
					<input type="submit" class="button tiny" value="Alert Me" name="submit{{ $index }}"   />
				</form>
			</div>
	</div>
</div>

<%#= render 'partials/footer' %>